body {
    height: 400px;
    width: 100%;
    background-image: url(./ignasi_pattern_s.png);
    background-repeat: repeat;
    background-position: cover;
}

img {
    height: 200px;
    width: 200px;
    float: left;
}

.sub-row-1 {
    /* margin: 65px 0 0 30px; */
    height: 40px;
    background-color: white;
    color: teal;
}

.sub-row {
    /* margin: 65px 0 0 30px; */
    height: 225px;
    background-color: white;
}

.about-me {
    margin: 65px 0 0 30px;
}